  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <meta name="description" content="{{page.seo_description}}">
  <meta name="keywords" content="Defining rural, rural definition, benjamin j anderson, geography, education, {{page.seo_keywords}}">
  <meta name="author" content="Dr. Benjamin J. Anderson">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EC5GYZNCKG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-EC5GYZNCKG');
  </script>