$colorWhite: rgba(255,255,255,1);
$colorWhiteTint: rgba(244, 242, 238, 1);
$colorWhiteFade: rgba(255, 255, 255, 0.9);
$colorOrange: rgba(235,139,35,1);
$colorGray: rgba(243,243,245,1);
$colorMediumGray: rgba(29, 34, 38, 1);
$colorDarkGray: rgba(20, 20, 20, 1);
$colorLightBlue: rgba(88, 158, 237, 1);
$colorBlue: #13294b;
$colorBlack: rgba(0,0,0,1);
$bodyFont: "Roboto Flex", -apple-system, "system-ui", sans-serif;

.no-break {
  white-space: nowrap;
}

.centered {
  text-align: center;
}

.arrow-container {
  position: relative;
  animation: bounceUpDown 2s ease-in-out infinite;
  
  @keyframes bounceUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .down-arrow {
    position: relative;
    color: $colorLightBlue;
    font-size: 6.0vmin;

    &:hover {
      color: $colorWhite;
      cursor: pointer;
    }
  }
}

.quote-list {
  margin-top: 10vh;

  .icon-heading {
    font-size: calc(12px + 2vmin);
    text-align: center;
    color: $colorLightBlue;
  }

  p {
    font-size: calc(12px + 1.25vmin);
  }

  h4 {
    font-size: 4vmin;
    padding: 1em 0;
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-gap: 1em;

  &.gap-lg {
    grid-gap: 2em;
  }

  &.split {
    grid-template-columns: 1fr 1fr;
  }

  &.three-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .span-2 {
    grid-column: span 2;
  }

  .span-3 {
    grid-column: span 3;
  }
}

.stripe {
  position: relative;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;

  h3 {
    font-size: 6vmin;
    padding: 1em 0;
  }

  &:before {
    content: "";
    width: 15%;
    height: 2px;
    background-color: $colorLightBlue;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  &:after {
    content: "";
    width: 15%;
    height: 2px;
    background-color: $colorLightBlue;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
  }
}

.content {
  padding: 1em 1.5em;
}

html {
  scroll-behavior: smooth;
}

a {
  color: $colorWhite;
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

p {
  font-size: calc(12px + 2.0vmin);
}

blockquote {
  position: relative;
  font-size: calc(12px + 2.0vmin);
  padding-left: 1.5em;

  &:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 10vmin;
    color: $colorGray;
    position: absolute;
    left: -20px;
    top: -20px;
  }

  cite {
    color: $colorGray;
    font-size: calc(12px + 1.8vmin);
    display: block;
    margin-top: 5px;
    text-align: right;

    &:before {
      content: "\2014 \2009";
    }
  }
}

article {
  position: relative;
  margin: 1em;

  header {
    position: relative;

    p {
      font-size: calc(12px + 0.75vmin);
    }

    img {
      opacity: 0.8;
      border-radius: 1em;
    }

    .btn {
      border: 1px solid $colorWhiteFade;
    }

    & > div:not(.title) {
      position: absolute;
      top: 0;
      right: 0;
      background: $colorDarkGray;
      border-top-right-radius: 1em;
      font-size: 1vmin;
      .icon {
        padding-left: 1em;
        padding-right: 0.5em;
      }
      .btn {
        border-top-right-radius: 1em;
        padding: 1em;
        margin-left: 1em;
      }
    }
  }

  .title {
    position: absolute;
    bottom: 4px;
    background: $colorDarkGray;
    border-bottom-left-radius: 1em;
    padding: 0.5em 1em;
    

    p {
      margin: 0;
      padding: 0;
    }

    .award {
      margin-top: 1em;
      .icon {
        color: $colorOrange;
      }
    }
  }
}

body {
  background: $colorMediumGray;
  color: $colorWhite;
  font-family: $bodyFont;
  font-weight: 300;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0;

  & > header {
    position: static;
    top: 0;
    display: grid;
    grid-template-columns: minmax(200px, 250px) auto;
    color: $colorWhite;
    background-color: $colorMediumGray;
    height: 40px;
    padding: 1em 1em;
    border-bottom: 1px solid $colorWhiteFade;

    h1 {
      padding: 0;
      margin: 0;
      font-size: 150%;
      font-weight: 400;
    }

    h2 {
      padding: 0;
      margin: 0;
      font-size: 90%;
      font-weight: 400;
    }

    a {
      color: $colorWhite;
    }

    nav {
      text-align: right;

      ul {
        list-style-type: none;

        li {
          display: inline-block;
          padding: 0 1em;
        }
      }
    }
  }
}

section.tile {
  position: relative;
  min-height: 100vh;
  width: 100%;

  &.landing {
    height: 75vh;
  }
}

.landing-prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  h3 {
    font-size: 6.0vmin;
    padding: 0 1em;
  }

  p {
    font-size: 3.5vmin;
    padding: 0 1em;
  }
}