$colorWhite: rgba(255,255,255,1);
$colorWhiteTint: rgba(244, 242, 238, 1);
$colorWhiteFade: rgba(255, 255, 255, 0.9);
$colorOrange: rgba(235,139,35,1);
$colorGray: rgba(243,243,245,1);
$colorMediumGray: rgba(29, 34, 38, 1);
$colorDarkGray: rgba(20, 20, 20, 1);
$colorLightBlue: rgba(88, 158, 237, 1);
$colorBlue: #13294b;
$colorBlack: rgba(0,0,0,1);
$bodyFont: "Roboto Flex", -apple-system, "system-ui", sans-serif;

html {
  scroll-behavior: smooth;
}

a {
  color: $colorWhite;
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

figure {
  figcaption {
    font-size: 100%;
    font-style: italic;
    padding: 1em 0;
  }
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.no-break {
  white-space: nowrap;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.dark-bg {
  background-color: $colorDarkGray;
}

.btn {
  padding: 1em 0.5em;
  color: $colorWhite;

  &.orange {
    background-color: $colorOrange;
  }
  &.blue {
    background-color: $colorLightBlue;
    
  }
}

.content {
  padding: 1em;

  header {
    margin-bottom: 1em;
  }

  h3 {
    font-weight: 500;
    font-size: 125%;
  }

  .text-container {
    padding: 1em;
  }

  p {
    font-size: 115%;
  }
}

.circle {
  border-radius: 5em;
  border: 2px solid $colorLightBlue;
  &.small {
    width: 90px;
    height: 90px;
  }
  &.medium {
    width: 150px;
    height: 150px;
  }
}

section.stripe {
  position: relative;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;

  &:before {
    content: "";
    width: 15%;
    height: 2px;
    background-color: $colorLightBlue;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  &:after {
    content: "";
    width: 15%;
    height: 2px;
    background-color: $colorLightBlue;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
  }

  h3 {
    font-size: 200%;
    font-weight: 400;
    padding: 1em 0;
  }

  p:first-of-type {
    padding-top: 2em;
  }

  p:last-of-type {
    padding-bottom: 2em;
  }
}

.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  &.two-thirds {
    & > div {
      padding: 1em;
    }
    & > div:first-of-type {
      grid-column: span 2;
    }
  }

  &.split {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  &.three-columns {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .span-2 {
    grid-column: span 2;
  }
}

ul.grid {
  list-style-type: none;
  &.small {
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  }
}

body {
  background: $colorMediumGray;
  color: $colorWhite;
  font-family: $bodyFont;
  font-weight: 300;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0;

  & > header {
    position: static;
    top: 0;
    display: grid;
    grid-template-columns: minmax(200px, 250px) auto;
    color: $colorWhite;
    background-color: $colorMediumGray;
    height: 40px;
    padding: 1em 1em;
    border-bottom: 1px solid $colorWhiteFade;

    h1 {
      padding: 0;
      margin: 0;
      font-size: 150%;
      font-weight: 400;
    }

    h2 {
      padding: 0;
      margin: 0;
      font-size: 90%;
      font-weight: 400;
    }

    a {
      color: $colorWhite;
    }

    nav {
      text-align: right;

      ul {
        list-style-type: none;

        li {
          display: inline-block;
          padding: 0 1em;
        }
      }
    }
  }
}

section.hero {
  padding: 5% 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-gap: 2em;

  & > div:first-of-type {
    min-height: 200px;
    max-width: 95%;
  }

  header {
    position: relative;
    img {
      opacity: 0.8;
    }
    & > div {
      position: absolute;
      top: 0;
      right: 0;
      background: $colorDarkGray;
      border-top-right-radius: 1em;
      font-size: 90%;
      .icon {
        padding-left: 1em;
        padding-right: 0.5em;
      }
      .btn {
        border-top-right-radius: 1em;
        padding: 1em;
        margin-left: 1em;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 4px;
    padding: 1em;
    background: $colorDarkGray;
    border-bottom-left-radius: 1em;

    width: 85%;

    p {
      margin: 0;
      padding: 0;
    }
  }

  & > div {
    position: relative;
    margin-top: 1em;
    margin-bottom: 2.5em;
    h3 {
      font-size: 200%;
    }
    & > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
    }

    img {
      border-radius: 1em;
    }
  }
}

main.page {
  position: relative;

  & > header {
    position: relative;
    min-height: 40vh;
  
    .gallery {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      clip-path: ellipse(64% 74% at 50% 36%);
    }
  }

  .heading-container {
    background-color: rgba(20,20,20,0.9);
    width: 60vw;
    text-align: center;
    opacity: 1;
    padding: 1em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    margin: 0 auto;

    & > img {
      width: 150px;
      height: 150px;
      border-radius: 10em;
    }

    h2 {
      font-size: 175%;
      font-weight: 400;
    }

    p {
      font-size: 110%;
      &:nth-of-type(2) {
        text-align: right;
        font-style: italic;
      }
    }
  }

  & > div.content {
    position: absolute;
    top: 33%;

    & > section {
      background-color: $colorMediumGray;
    }
  }

  .infopanelgroup {
    & > header {
      margin-bottom: 2em;
      h3 {
        font-size: 200%;
        font-weight: 400;
      }
    }

    & > div > div {
      padding: 1em;
      border-radius: 0.5em;
      border: 1px solid $colorWhiteFade;

      h4 {
        font-size: 130%;
        font-weight: 400;
        text-align: center;
      }
    }

    .icon-heading {
      color: $colorLightBlue;
      font-size: 175%;
      text-align: center;
      margin-bottom: 0.5em;
    }
  }

  section.references {
    margin-top: 4em;
    & > div {
      margin-left: 2em;
    }

    h3 {
      font-weight: 400;
    }
  }
}