<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta charset="utf-8">
  {% include seo.html %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
</head>
<body>
  {% include nav.html %}
  <main>
    <section class="tile landing">
      <div class="landing-prompt">
        <h3>From the research desk of <span class="no-break">Benjamin J. Anderson, Ed.D.</span></h3>
        <p>Powered by Coffee and Data.</p>
        <p class="arrow-container">
          <a class="down-arrow" href="#research">
            <span class="fa-regular fa-circle-down"></span>
          </a>
        </p>
      </div>
    </section>

    <section id="research" class="tile grid split">
      <div class="content">
        <blockquote>
          <p>Investigating the qualification criteria for policy, aligning it to places eligible for
aid within policy, and those that receive it will further contribute to the growing understanding of
the socioeconomic divide in the United States. The context should not be what is rural and what
is urban; it appears this is not the correct question as the rural condition does not map into
geographic areas delineated in existing data sources. Instead, any future inquiry should be into
the barriers that prevent places needing aid from receiving it.</p>
          <footer>
            <cite>
              Benjamin J. Anderson
            </cite>
          </footer>
        </blockquote>
      </div>
      <article>
        <header>
          <img src="/assets/images/headers/dissertation.webp" width="100%" height="100%" />
          <div>
            <p><span class="icon fa-solid fa-book"></span> Dissertation <a class="btn" href="https://digital.library.wisc.edu/1793/94775" target="_blank">Read</a></p>
          </div>
          <div class="title">
            <h4>A Definition of Rurality</h4>
            <p>A Sequential Quantitative Analysis Aligning Education to Geography</p>
            <p class="award">
              <small><span class="icon fa-solid fa-medal"></span> Outstanding Dissertation Award. UCWHRE pending.</small>
            </p>
          </div>
        </header>
      </article>
      <div class="span-2 centered">
        <p class="arrow-container">
          <a class="down-arrow" href="#Significance">
            <span class="fa-regular fa-circle-down"></span>
          </a>
        </p>
      </div>
    </section>

    <section class="stripe">
      <h3 id="Significance">Significance</h3>
    </section>

    <section class="tile">
      <div class="content">
        <blockquote>
          <p>In a rural-urban dichotomy, the locale system lacks sensitivity to local variations, and up to 98.1% of places an urban school district administrates may be considered rural.</p>
          <footer>
            <cite>
              Benjamin J. Anderson
            </cite>
          </footer>
        </blockquote>
      </div>

      <section class="grid gap-lg three-columns content quote-list">
        <div>
          <div class="icon-heading"><span class="icon fa-solid fa-file-pen"></span></div>
          <h4>Policy Development</h4>
          <p>
            Definitions of rural and urban shape public policies, creating legislative action that
    lessens impediments, builds prospects, or offers other motivations influencing policymaking
    decisions. In the United States, the development of many existing policies and programs is to support rural places and bridge the economic gap between them and urban places.
          </p>
        </div>

        <div>
          <div class="icon-heading"><span class="icon fa-solid fa-magnifying-glass"></span></div>
          <h4>Policy Effectiveness</h4>
          <p>
            Classifications of rural used by the Federal government justify the planning, application, and monitoring of
    policy interventions and development efforts to meet the needs of a population, creating an
    exacerbation of resource issues when different agencies fund communities with departments specific definitions.
          </p>
        </div>

        <div>
          <div class="icon-heading"><span class="icon fa-solid fa-apple-whole"></span></div>
          <h4>Health & Education</h4>
          <p>
            The growing health, education, and infrastructure disparities between rural and urban
    areas are due to the lax standard for spatially structuring places. Using any of the most frequently cited Federal definitions and
    characteristics of rurality, the percentage of the population classified as rural can vary from 17 to
    49%.
          </p>
        </div>
      </section>
    </section>
    
  </main>
  <footer>
    
  </footer>
</body>
